# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb

# Visual Studio Project Files
.vs
*.aps
*.filters
*.user

# Temporary Files
*~
*.result.txt
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Directories
/bin
build/
build-Release/
.vscode/